@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Roboto Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #FD483C;
    --color-background-primary: #191919;
    --color-background-secondary: #242424;
    --color-text: white;
    --color-text-alt: #8C8C8C;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    background-color: var(--color-background-primary);
}

section {
    display: grid;
    place-items: center;
    padding: 0 5%;
}

section:not(#hero-alt) {
    min-height: 100vh;
}

#hero, #hero-alt {
    position: relative;
}

.hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#hero {
    place-items: start;
    align-items: center;
    position: relative;
}

#hero-alt {
    height: 50vh;
}

h1 {
    width: fit-content;
    position: relative;
    font-size: 4rem;
    font-weight: 500;
    cursor: pointer;
}

h1::after {
    content: "";
    width: 15%;
    height: .25rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-primary);
    transition: width 500ms ease-in-out;
}

h1:hover::after {
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.25rem;
    font-weight: 500;
}

li {
    list-style: none;
}

a, button {
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
    transition: filter 300ms;
}

button {
    background: none;
    color: var(--color-text);
    border: none;
    outline: none;
}

a:hover, button:hover {
    filter: opacity(50%);
}

input {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
}

hr {
    border-color: var(--color-text-alt);
}

.btn-primary, .btn-outlined {
    width: fit-content;
    padding: .75rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-outlined {
    border: 2px solid var(--color-text);
}

.paragraph-alt {
    color: var(--color-text-alt);
}

.heading {
    display: grid;
    place-items: center;
    gap: 1rem;
}